<!-- Mobile Menu -->
<div id="mobile-menu" class="mobile-menu lg:hidden">
    <nav class="mobile-nav-bar" id="mobile-nav-content">
    </nav>
    <div class="mobile-dropdown-area" id="mobile-dropdown-area"></div>
</div>
