<!-- Services Section -->
<section id="services" class="py-16 bg-white">
    <div class="max-w-7xl mx-auto px-4">
        <div class="text-center mb-12">
            <h3 class="font-heading text-3xl font-bold text-slate-900 mb-4"><i
                    class="fas fa-project-diagram mr-3"></i>Programas e Projetos</h3>
            <p class="text-slate-900 max-w-2xl mx-auto">Conheça os principais programas e projetos oferecidos pela Secretaria
                Municipal de Educação</p>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6">
            
            <a href="https://jornadapedagogicapmm.my.canva.site/programas-e-projetos-sme-mossor/de-mossor-para-o-mundo" target="_blank"
                class="group flex items-center justify-center transition-transform hover:-translate-y-1">
                <img src="/img/pagina-inicial/MPM.png" alt="MPB" class="w-full h-auto object-contain hover:drop-shadow-xl transition-all duration-300">
            </a> 
            
            <a href="https://jornadapedagogicapmm.my.canva.site/programas-e-projetos-sme-mossor/#page-8" target="_blank"
                class="group flex items-center justify-center transition-transform hover:-translate-y-1">
                <img src="/img/pagina-inicial/PAE.png" alt="PAE" class="w-full h-auto object-contain hover:drop-shadow-xl transition-all duration-300">
            </a> 
            
            <a href="https://jornadapedagogicapmm.my.canva.site/programas-e-projetos-sme-mossor/partiubrasil" target="_blank"
                class="group flex items-center justify-center transition-transform hover:-translate-y-1">
                <img src="/img/pagina-inicial/PB.png" alt="PB" class="w-full h-auto object-contain hover:drop-shadow-xl transition-all duration-300">
            </a>

            <a href="#"
                class="group flex items-center justify-center transition-transform hover:-translate-y-1">
                <img src="/img/pagina-inicial/IDEB.png" alt="IDEB" class="w-full h-auto object-contain hover:drop-shadow-xl transition-all duration-300">
            </a>

        </div>
    </div>
</section>
