<!-- Escolas -->
<div class="nav-item"><button
        class="px-4 py-2 text-slate-700 hover:text-gray-200 font-medium transition-colors flex items-center gap-1 text-white">
        <i class="fas fa-school"></i> Unidades
        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewbox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
        </svg></button>
    <div class="dropdown"><a href="https://www.google.com/maps/d/u/2/edit?mid=18eGd24SPaZ237mnihV0zV1MTFcVPzME&usp=sharing" target="_blank">
            <div class="dropdown-icon bg-blue-100">
                <i class="fas fa-list text-blue-600"></i>
            </div>
            <div>
                <strong>Unidades de Ensino</strong><br><span class="text-xs text-slate-500">Todas
                    as unidades</span>
            </div>
        </a> 
                <div class="has-submenu"><a href="#zonas" class="flex justify-between">
                <div class="flex items-center gap-3">
                    <div class="dropdown-icon bg-amber-100">
                        <i class="fas fa-compass text-amber-600"></i>
                    </div>
                    <div>
                        <strong>Por Zona</strong><br><span
                            class="text-xs text-slate-500">Divisão regional</span>
                    </div>
                </div>
                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewbox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 5l7 7-7 7"></path>
                </svg>
            </a>
            <div class="submenu"> 
                <a href="https://www.google.com/maps/d/u/2/edit?mid=1Fo-l3G8UaDIuyZDRTvdKYqP-J_e9eio&usp=sharing" target="_blank"><i class="fas fa-tree"></i> Zona Rural</a>
                <a href="https://www.google.com/maps/d/edit?mid=1ncplmy-S5MUv10NvSBz5rJwtj78ouAE&usp=sharing" target="_blank"><i class="fas fa-arrow-up" target="_blank"></i> Zona Norte</a> 
                <a href="https://www.google.com/maps/d/edit?mid=1KFLrCOog5lrWXaU78SmQ-QQVfkg2HVI&usp=sharing"><i class="fas fa-arrow-down" target="_blank"></i> Zona Sul</a>
                <a href="https://www.google.com/maps/d/edit?mid=1x_VzGcNhgatDbHsSlyjMqPax152PijU&usp=sharing"><i class="fas fa-arrow-right" target="_blank"></i> Zona Leste</a> 
                <a href="https://www.google.com/maps/d/edit?mid=1wuLpSA2_bJZhWundXne_fLHjIDXwmRY&usp=sharing"><i class="fas fa-arrow-left" target="_blank"></i> Zona Oeste</a>
                <a href="https://www.google.com/maps/d/edit?mid=1h5M4mlJz-6o0dXif7p4i1Vg8S_REPcg&usp=sharing" target="_blank"><i class="fa-brands fa-centercode"></i> Zona Central</a>
  
            </div>
        </div>
        
        <a href="https://www.google.com/maps/d/u/2/edit?mid=1r__wV_HYfRDqTNQajDeaBcVRFKqoqDk&usp=sharing" target="_blank">
            <div class="dropdown-icon bg-green-100">
                <i class="fas fa-map text-green-600"></i>
            </div>
            <div>
                <strong>Escolas</strong><br><span
                    class="text-xs text-slate-500">Localização geográfica</span>
            </div>
        </a>

        
        <a href="https://www.google.com/maps/d/u/2/edit?mid=1r__wV_HYfRDqTNQajDeaBcVRFKqoqDk&usp=sharing" target="_blank">
            <div class="dropdown-icon bg-pink-100">
                <i class="fas fa-baby text-pink-600"></i>
            </div>
            <div>
                <strong>UEIs</strong><br><span class="text-xs text-slate-500">0 a 5
                    anos</span>
            </div>
        </a> <a href="https://www.google.com/maps/d/u/2/edit?mid=1MeCtFskVHwdq62NSyEbPoIN-1LNtHs0&usp=sharing" target="_blank">
            <div class="dropdown-icon bg-purple-100">
                <i class="fas fa-palette text-purple-600"></i>
            </div>
            <div>
                <strong>UAs</strong><br><span class="text-xs text-slate-500">Unidades de Apoio</span>
            </div>
        </a>
    </div>
</div>
