<!-- Transparência -->
<div class="nav-item"><button
        class="px-4 py-2 text-slate-700 hover:text-gray-200 font-medium transition-colors flex items-center gap-1 text-white">
        <i class="fas fa-laptop-code"></i> NTM
        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewbox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
        </svg></button>
    <div class="dropdown"><a href="/ntm/sobre">
            <div class="dropdown-icon bg-green-100 overflow-hidden">
                <img src="/img/NTM/NTM-logo.jpeg" alt="Logo NTM" class="w-full h-full object-contain">
            </div>
            <div>
                <strong>Sobre o NTM</strong><br><span class="text-xs text-slate-500">Quem somos</span>
            </div>
        </a> <a href="/NTM/equipe">
            <div class="dropdown-icon bg-blue-100">
                <i class="fas fa-users-gear text-blue-600"></i>
            </div>
            <div>
                <strong>Nossa Equipe</strong><br><span class="text-xs text-slate-500">Profissionais do setor</span>
            </div>
        </a> 
        <a href="/NTM/na-escola">
            <div class="dropdown-icon bg-purple-100">
                <i class="fas fa-computer text-purple-600"></i>
            </div>
            <div>
                <strong>NTM nas Escolas</strong><br><span class="text-xs text-slate-500">Parcerias
                    firmadas</span>
            </div>
        </a>
        <a href="/NTM/formacao-continuada">
            <div class="dropdown-icon bg-yellow-100">
                <i class="fa-solid fa-chalkboard-user" style="color: rgb(255, 212, 59);"></i>
            </div>
            <div>
                <strong>Formação Continuada</strong><br><span class="text-xs text-slate-500">Excelência e Inovação</span>
            </div>
        </a>
        <a href="https://jornadapedagogicapmm.my.canva.site/simposio" target="_blank">
            <div class="dropdown-icon bg-blue-100">
                <i class="fa-sharp fa-solid fa-chalkboard" style="color: rgb(116, 192, 252);"></i>
            </div>
            <div>
                <strong>Simpósio</strong><br><span class="text-xs text-slate-500">Educação Digital</span>
            </div>
        </a>
    </div>
</div>
