<!-- Institucional -->
<div class="nav-item"><button
        class="px-4 py-2 text-slate-700 hover:text-gray-200 font-medium transition-colors flex items-center gap-1 text-white">
        <i class="fas fa-building text-white"></i> Institucional
        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewbox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
        </svg></button>
    <div class="dropdown"><a href="/institucional/sobre">
            <div class="dropdown-icon bg-blue-100">
                <i class="fas fa-landmark text-blue-600"></i>
            </div>
            <div>
                <strong>Sobre a Secretaria</strong><br><span
                    class="text-xs text-slate-500">História e missão</span>
            </div>
        </a> <a href="/institucional/secretario">
            <div class="dropdown-icon bg-green-100">
                <i class="fas fa-user text-green-600"></i>
            </div>
            <div>
                <strong>Secretário(a)</strong><br><span class="text-xs text-slate-500">Gestão
                    atual</span>
            </div>
        </a> <a href="/institucional/organograma">
            <div class="dropdown-icon bg-purple-100">
                <i class="fas fas fa-project-diagram text-purple-600"></i>
            </div>
            <div>
                <strong>Organograma</strong><br><span class="text-xs text-slate-500">Estrutura
                    organizacional</span>
            </div>

        </a> <a href="https://www.google.com/maps/d/edit?mid=1KAtP0USyNKdlSe9M-DY87ZsSDToGJvQ&usp=sharing" target="_blank">
            <div class="dropdown-icon bg-rose-100">
                <i class="fas fa-map-marker-alt text-rose-600"></i>
            </div>
            <div>
                <strong>Contato e Localização</strong><br><span
                    class="text-xs text-slate-500">Como chegar</span>
            </div>
        </a>
    </div>
</div>
