<!-- Institucional -->
<div class="nav-item"><button
        class="px-4 py-2 text-slate-700 hover:text-gray-200 font-medium transition-colors flex items-center gap-1 text-white">
        <i class="fas fa-building"></i> Sistemas
        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewbox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
        </svg></button>
    <div class="dropdown dropdown-right"><a href="https://sigeduc.rn.gov.br/sigeduc/public/home.jsf" target="_blank">
            <div class="dropdown-icon bg-blue-100">
                <i class="fas fa-landmark text-blue-600"></i>
            </div>
            <div>
                <strong>SIGEduc</strong><br><span
                    class="text-xs text-slate-500">Gestão Educacional</span>
            </div>
        </a> <a href="https://moodle.com/pt-br/" target="_blank">
            <div class="dropdown-icon bg-green-100">
                <i class="fas fa-user text-green-600"></i>
            </div>
            <div>
                <strong>Moodle</strong><br><span class="text-xs text-slate-500">Ambiente de Aprendizagem</span>
            </div>
        </a> <a href="https://saem.sme.mossoro.rn.gov.br/" target="_blank">
            <div class="dropdown-icon bg-purple-100">
                <i class="fas fas fa-project-diagram text-purple-600"></i>
            </div>
            <div>
                <strong>SAEM</strong><br><span class="text-xs text-slate-500">Sistema de Avaliação Educacional</span>
            </div>
        </a>
        <a href="https://sip.mossoro.rn.gov.br/sip/login.php?sigla_orgao_sistema=PMM&sigla_sistema=SEI&infra_url=L3NlaS8=" target="_blank">
            <div class="dropdown-icon bg-slate-100">
                <i class="fas fa-file-contract text-slate-600"></i>
            </div>
            <div>
                <strong>SEI</strong><br><span class="text-xs text-slate-500">Sistema Eletrônico de Informação</span>
            </div>
        </a>
    </div>
</div>
